<nav>
   
        <li>Chika Nwazuo</li>
   
    <ul class="ulnave">
        <li><a href="/">Home</a></li>
        <li><a href="{%url 'resulst:pullingresult'%}">Total Results</a></li>
        <li><a href="{% url 'resulst:newresults' %}">Add new results</a></li>
    </ul>
   
   <button class="mobile" onclick="openmobile()"><i class="fa-solid fa-bars"></i></button>
</nav>
<script>
    function openmobile(){
        const openmobilebar=document.querySelector(".ulnave")
        openmobilebar.classList.toggle("showmobile")
       
    }
</script>
<style>
    body,html{
        overflow-y: hidden !important;
    }
    .mobile{
        display: none;
    }
    @media (max-width:900px){
        .mobile i{
            width: 34px;
            
        }
        .mobile{
         display: block !important;
         background-color: transparent;
         width: 30px;
         height: 30px;
         cursor: pointer;
         border: none;
        }
        .showmobile{
            display: flex !important;
            background-color: white !important;
            flex-direction: column;
            align-items: center;
        }
             nav{
                 align-items: unset;
                 position: relative;
             }
             .ulnave{
                flex-direction: column;
                position: absolute;
                top: 30px;
               
                background-color: black !important;
                z-index: 99;
                display: none;
                width: 100vw !important;
             }
             
            .ulnave li a{
                color: white;
            }
     
             
         } 
</style>

